body {
    background-color: royalblue;
    max-width: 100vw;
    margin: 0;
}
a {
    color: inherit;
}
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
}
main {
    background-color: white;
    padding: 10px;
    overflow-x: hidden;
}
h1 {
    font-size: large;
}

.table {
    display: table;
    width: 100%;
    background-color: darkgray;
}
.table > * {
    display: table-row;
}
.table > * > * {
    display: table-cell;
}
.table > *:nth-child(2n-1) {
    background-color: lightgray;
}

.topic-list {
    width: 100%;
}
.post-count {
    text-align: right;
}

.post {
    margin-bottom: 3px;
    padding: 1px;
    background-color: darkgray;
}
.post .meta > * {
    display: inline;
    padding-right: 0.5em;
}
.post .text {
    background-color: lightgray;
    overflow-x: scroll;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.errors {
    position: fixed;
    right: 0;
    top: 0;
}
.errors > * {
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    max-width: 60vw;
}

.unseen-count a {
    color: red;
    text-decoration: none;
}
.unseen-count a:before {
    content: '+';
}
.unseen-count a:empty:before {
    content: '-';
    color: black;
}

form.topic {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 30vh;
}
form.reply {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100px;
}
form.edit {
    display: grid;
    grid-template-columns: 1fr;
    height: 30vh;
}

.quickpost {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
.quickpost summary {
    text-align: right;
    padding: 5px;
}
.quickpost textarea {
    resize: vertical;
}
button#quote {
    position: fixed;
    padding: 10px;
    transform: translateX(-100%);
}

.pages {
    text-align: center;
}
.pages > * {
    display: inline-block;
    padding: 3px;
}

.quote {
    margin-left: 1em;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}
.quote .marker {
    font-size: 0;
}
